<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h2 th:text="${message}">Welcome</h2>
    <div sec:authorize-expr="isAuthenticated()">
        <hr>
        <a href="/logout" th:href="@{/logout}">Logout</a>
    </div>
    <div sec:authorize-expr="!isAuthenticated()">
        <a href="/login" th:href="@{/login}">Login</a>
        <a href="/signup" th:href="@{/login}">Signup</a>
    </div>
    <hr>
    <p><a href="/info">info</a></p>
    <p><a href="/dashboard">dashboard</a></p>
    <p><a href="/admin">admin</a></p>
    <p><a href="/user">user</a></p>
</body>
</html>