<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Event</title>
</head>
<body>
    <form action="#" th:action="@{/events/form/limit}" method="post" th:object="${event}">
        <p th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">Incorrect Data</p>
        <Label>Limit : </Label>
        <input type="text" title="limit" th:field="*{limit}" /><br>
        <Label>Start : </Label>
        <input type="text" title="start" th:field="*{start}" />
        <input type="submit" vlaue="Create" />
    </form>
</body>
</html>